<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>基于vue的备忘录</title>
    <link rel="stylesheet" href="todo.css">
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
    <section class="todoapp">
        <header class="header">
            <h1>待办事项</h1>
            <input class="new-todo" autofocus autocomplete="off"
                   placeholder="输入要做的事" v-model="newTodo" @keyup.enter="addTodo">
        </header>
        <section class="main" v-show="todos.length" v-cloak>
            <input class="toggle-all" type="checkbox" v-model="allDone">
            <ul class="todo-list">
                <li v-for="todo in filteredTodos" class="todo" :key="todo.id"
                    :class="{completed:todo.completed , editing:todo == editedTodo}">
                    <div class="view">
                        <input type="checkbox" class="toggle" v-model="todo.completed">
                        <label @dblclick="editTodo(todo)">{{todo.title}}</label>
                        <button class="destroy" @click="removeTodo(todo)"></button>
                    </div>
                    <input class="edit" type="text" v-model="todo.title"
                           v-todo-focus="todo == editedTodo" @blur="doneEdit(todo)"
                           @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)"
                    >
                </li>

            </ul>

        </section>
        <footer class="footer" v-show="todos.length" v-cloak>
            <span class="todo-count">
                <strong>{{remaining}}</strong>
                {{remaining | pluralize}}未完成
            </span>

            <ul class="filters">
                <li><a href="#/all" :class="{ selected :visibility == 'all' }">所有</a></li>
                <li><a href="#/active" :class="{ selected:visibility == 'active'}">正在做</a></li>
                <li><a href="#/completed" :class="{ selected:visibility == 'completed'}">已完成</a></li>
            </ul>
            <button class="clear-completed" @click="removeCompleted"
                    v-show="todos.length > remaining">
                清除已完成
            </button>

        </footer>
    </section>

    <footer class="info">
        <p>回车输入事件，双击编辑事件</p>
        <p>原理是利用html5的存储，不兼容ie，事件只会保存在你记录的浏览器和电脑中</p>
    </footer>

    <script src="https://cdn.bootcss.com/vue/2.0.0-rc.5/vue.min.js"></script>
    <script>
        //本地存储
        var storage_key = '';
        var todoStorage = {
            fetch :function () {
                var todos = JSON.parse(localStorage.getItem(storage_key) || '[]');
                console.log(todos);
                todos.forEach(function (todo, index) {
                    todo.id = index;
                    console.log(todo);
                });
                todoStorage.uid = todos.length;
                return todos;
            },
            save :function (todos) {
                localStorage.setItem(storage_key,JSON.stringify(todos));
            }
        };

        //filters组件
        var filters = {
            all : function (todos) {
                return todos;
            },
            active:function (todos) {
                return todos.filter(function (todo) {
                    return !todo.completed;
                })
            },
            completed:function (todos) {
                return todos.filter(function (todo) {
                    return todo.completed;
                })
            }
        };

        var app = new Vue({
            data:{
                todos:todoStorage.fetch(),
                newTodo:'',
                editedTodo:null,
                visibility:'all'
            },
            watch:{
                todos:{
                    handler:function (todos) {
                        todoStorage.save(todos);
                    },
                    deep:true
                }
            },
            computed:{
                filteredTodos:function () {
                    return filters[this.visibility](this.todos);
                },
                remaining:function () {
                    return filters.active(this.todos).length;
                },
                allDone:{
                    get:function () {
                        return this.remaining === 0;
                    },
                    set:function (value) {
                        this.todos.forEach(function (todo) {
                            todo.completed = value;
                        })
                    }
                }
            },
            filters:{
                pluralize:function (n) {
                    return '项'
                }
            },
            methods:{
                addTodo:function () {
                    var value = this.newTodo && this.newTodo.trim();
                    if (!value){
                        return false;
                    }
                    this.todos.push({
                        id:todoStorage.uid++,
                        title:value,
                        completed:false
                    });
                    this.newTodo = '';
                },
                removeTodo:function (todo) {
                    this.todos.splice(this.todos.indexOf(todo),1);
                },
                editTodo:function (todo) {
                    this.beforeEditCache  = todo.title;
                    this.editedToto = todo;
                },
                doneEdit:function (todo) {
                    if (!this.editedToto){
                        return ;
                    }
                    this.editedToto = null;
                    todo.title = todo.title.trim();
                    if (! todo.title){
                        this.removeTodo(todo);
                    }
                },
                cancelEdit:function (todo) {
                    this.editTodo = null;
                    todo.title = this.beforeEditCache;
                },
                removeCompleted:function () {
                    this.todos = filters.active(this.todos)
                }
            },
            directive:{
                'todo-focus':function (el, value) {
                    if (value){
                        el.focus();
                    }
                }
            }
        });

        //处理路由
        function onHashChange() {
            var visibility = window.location.hash.replace(/#\/?/,'');
            if(filters[visibility]){
                app.visibility = visibility;
            }else {
                window.location.hash = '';
                app.visibility = 'all';

            }
        }

        window.addEventListener('hashchange',onHashChange);
        onHashChange();
        app.$mount('.todoapp')



    </script>
</body>
</html>