<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>for遍历</title>
</head>
<body>
    <div id="app">
        <div v-for="book in books">
            {{$index+1}}  {{book.name}}   {{book.price}}
        </div>
    </div>

    <div id="vm">
        <div v-for="(item,index) in items">
            {{postMessage}} {{index}}  {{item.name}}
        </div>
    </div>
    <script src="vue.js"></script>
    <script>
        var vm = new Vue({
            data:{
                books:[
                    {
                        name:'千百度',
                        price:'23'
                    },
                    {
                        name:'双人旁',
                        price:'56'
                    },
                    {
                        name:'摄影艺术',
                        price:'78'
                    }
                ]
            }
        });
        vm.$mount('#app');


        var app = new Vue({
            el:'#vm',
            data:{
                postMessage:'Cinaiet',
                items:[
                    {name:'1'},
                    {name:'2'},
                    {name:'3'},
                    {name:'4'}
                ]
            }
        });
    </script>

</body>
</html>